@import 'normalize.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}

#canvas {
    max-width: 100%;

    &:not(.loaded) {
        background: url('./images/loader.gif') 50% no-repeat;
    }
}
