@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #100315;
}

#canvas {
    &:not(.loaded) {
        background: url('./images/loader.gif') 50% no-repeat;
    }
}
